{% extends "base.html" %}

{% block content %}
<h1>Заявки</h1>
{% if sp %}
{% for item in range(l)%}
<div class="col-md6 border rounded">
    <h2>{{sp[item][0] + " " + sp[item][1]}}</h2>
    <a class="btn btn-primary" id="ac_friend" href="/accept_f/{{ sp[item][2] }}"> добавить</a>
    <a class="btn btn-secondary" id="dec_friend" href="decline_f/{{ sp[item][2] }}">отказать</a>
</div>
{% if item != l - 1 %}
<br>
{% endif %}
{% endfor %}
{% else %}
<p style="color:#fff">
    Новых заявок пока нет
    <br>
    Но скоро кто-нибудь обязательно добавит вас в друзья!
</p>
{% endif %}
{% endblock %}