{% extends "base.html" %}

{% block content %}
<h1 style="color: #ffffff">SocialNet</h1>
<p style="color: #ffffff; display: flex; justify-content: center; margin: 0px 0px 5px">
    Здравствуйте!
    <br>
    Это мой проект, <br> Целью было научиться использовать ресурсы Python <br>
    Мой сайт чем-то похож на известный мессенджер whatsapp <br>
    Только преимущество моего мессенджера в том, что пользователь может переписываться абсоютно с кем захочет, <br>
    Главное добавить пользователя в друзья!
    Вы всегда сможете на вкладке "Найти друзей" найти новых пользователей для переписки и отправить им запрос, <br>
    А как только они примут вашу заявку в друзья,
    <h5 style="color: #ffffff; text-align: center" > Ваше общение сразу начнется!</h5>
</p>
{% endblock %}