{% extends "base.html" %}

{% block content %}
<h1 style="text-align:center">Информация</h1>
<form action="" method="post">
    <div style="color: #ffffff; text-align:center">
        {% if not current_user.about %}
        <p>
            Напишите про себя,
            чтобы другим пользователям было удобнее вас найти и
            добавить в друзья
        </p>
        {% else %}
        <p>
            Вы можете отредактировать информацию о себе.
        </p>
        {%endif%}
    </div>
    <form method="post" class="inf">
        <input name="date" type="text" class="inf" value="{{current_user.about}}"><br>
        <br>
        <input type="submit" class="btn btn-primary">
    </form>
</form>
{% endblock %}