{% extends "base.html" %}

{% block content %}
<h1 style="color: #ffffff">{{n1 + " " + n2}}</h1>
<form action="" method="post" id="chat-page">
    <div class="chat-box">
        {% for item in mess %}
        {% if item[1] == 1%}
        <div class="message frnd-message">
        <p>{{item[0]}}</p>
        </div>
    <!--    from-->
        {% else %}
        <div class="message my-message">
        <p style="text-align:right">{{item[0]}}</p>
        </div>
        {% endif %}
        {% endfor %}
<!--        <p>{{form.mess}}</p>-->
        <div class='chatbox_input'>
            <input type="text" placeholder="Введите сообщение" name="mess">
            <div class="chatbox_input write">
            <p>{{form.submit(type="submit", class="btn btn-primary") }}</p>
            </div>
            <div class="chatbox_input update">
            <p>{{form.submit_new(type="submit") }}</p>
            </div>
        </div>
    </div>
<!--    <a href="/update_mess/{{friend}}"> обновить </a>-->
</form>
{% endblock %}