{% extends "base.html" %}

{% block content %}
<div>
    <h1 style="text-align:center">Профиль</h1>
</div>
<form action="" method="post" class="profile">
    {{ form.hidden_tag() }}
    <p style="font-weight:bold">
        {{form.email_info.label}}<br>
    {{current_user.email}}<br>
    <p>
    <div style="font-weight:bold">
        {{form.first_name.label}}<br>
    </div>
    {{current_user.first_name}}<br>
    <p>
    <div style="font-weight:bold">
        {{form.second_name.label}}<br>
    </div>
    {{current_user.second_name}}<br>
</form>
{% endblock %}