{% extends "base.html" %}

{% block content %}
<div xmlns="http://www.w3.org/1999/html">
    <h1 style="text-align:center">Профиль</h1>
</div>
<div class="col-md6 border rounded profile">
        <h2>{{form.email_info.label}}</h2>
        <div>
        {{current_user.email}}<br>
        </div>
        <h2>{{form.first_name.label}}</h2>
        <div>
            {{current_user.first_name}}<br>
        </div>
        <h2>{{form.second_name.label}}</h2>
        <div>
        {{current_user.second_name}}<br>
        </div>
</div>
{% endblock %}